
 ul{
   list-style: none;
 }
  .title{
      text-align: center;
  }
  .w{
      width: 80%;
      margin: auto;
  }

.w_fenix_bg{
  width: 100%;
  height: 100%;
}
.w_fenix_content_bg{
  width: 30%;
  float: left;
}
.w_fenix_colum{
  width: 40%;
  float: left;
}
.w_fenix_colum_3{
  float: left;
  width: 50%;
  padding-top: 26px;
  text-align: right;
}
.w_fenix_colum_estate{
  width: 30%;
  float: left;
  text-align: right;
}

.list_root{
  width: 100%;
}
.w_colum_order{
  width: 100%;
text-align: center;
margin-left: 63px;
}
.w_fenix_pizza{
height: 100px;
margin-left: -38px;
}
.w_fenix_state{
  height: 122px;
}
.row_1{
  height: 40vh;
  border-bottom: 5px solid #e9bd21;
}
.btn_rastreo_fx{
  float: right;
  margin-top: -50px;
}
.test{
  margin-left: -38px;
}
.w3-button {
  width: 120px;
  border-radius: 15px;
  background:#e9bd21;
  border: none;
  height: 30px;
  color: white;
  font-weight: bold;
 
}
span{
  display: block;
  margin-bottom: 20px;
}
.naranja{
  color: #e9bd21;
}
.negrita{
  color: #b9b9a4;
}
.w_fenix_price{
  margin-top: -20px;
}